<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Add User</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div class="center">
  <form action="#" th:action="@{/users/add}" th:object="${newUser}" method="post">
    <p>User Email: <input type="text" th:field="*{email}" /></p>
    <p>User Role: <input type="text" th:field="*{roleModel.title}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
  </form>
</div>
</body>
</html>