<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
Available Leave Types:
<ul class="list-group" th:each = "leaveTypes : ${leaveTypes}">
    <li class="list-group-item" th:text="${leaveTypes.title}">
    </li>
</ul>
<a class="btn btn-danger" >Apply for a Leave</a>
<a class="btn btn-dark" th:href="@{/add/NewType}">Add a New Leave Type</a>
</body>
</html>